<header id="top" class="header">
  <div class="text-vertical-center">

 <h1>
  <a href="../">home</a> /   
 	<a href= "blog.html">words</a> / 
          <a href="http://11357.tumblr.com"> diary</a>/ 
          <a href="hacks.html">hacks</a> 
          </h1>
 
 <br><br>

   <H3> VAROMETER (BCN MHD 2013)(<a href="https://www.hackerleague.org/hackathons/music-hack-day-barcelona-13/hacks/varometer">hackerleague</a> / <a href="#">web</a> / <a href="https://www.youtube.com/watch?v=eh7BIe-oU2c&index=32&list=PL0EPT_FWD3MlcDoNTKpLBeOETOHJzfLA8">video</a>) </h3>


 <H3> HACK/THE/CITY (LONDON MHD 2013) (<a href="https://www.hackerleague.org/hackathons/music-hack-day-london-2013/hacks/hack-slash-the-slash-city">hackerleague</a> / <a href="http://panzer.ucd.ie:8080/mhd-london-2013/">web</a> / <a href="https://www.youtube.com/watch?v=9lxVYvvwHB8list=PLTe41ljP1pfb6WCBL7_hCmme2j9kpQJ1Z">video</a>  / <a href="https://github.com/hcorona/mhd-london-2013">code</a>) </h3>

<H3> SNAPCHAT MAP (NYE 2013) (<a href="snapchat_map/index.html">web</a>) </h3>

 <H3> HACK TEMPLATE (2014 - ) (<a href="https://github.com/hcorona/hack-template">code</a>) </h3>


<H3>HITMAKERS (BCN MHD 2014) </a> (<a href="https://www.hackerleague.org/hackathons/music-hack-day-barcelona-2014/hacks/hitmakers">hackerleague</a> / <a href="http://hitmakers.ooointernet.com/">web</a> / <a href="https://www.youtube.com/watch?v=9aFewRq1JX4&list=PL0EPT_FWD3MmPbLC-t-kkwURKWTHJoOPp&index=27">video</a>)  </h3>

<H3>YUMM (LONDON MHD 2014) </a> (<a href="https://www.hackerleague.org/hackathons/music-hack-day-london-2014/hacks/yumm">hackerleague</a> / <a href="#">web</a> / <a href="">video</a>) </h3>

<H3>INSIGHT SENTIMENT DEMO (ONGOING) </a> (<a href="sentiment_dashboard/dashboard.html">WEB</a> /) </h3>

  </div>
</header>
